@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300&family=Trispace:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

html,
body {
    width: 100%;
    margin: 0;
    scroll-padding-top: 200px;
    background-color: #d8862e;
}

/*Sign Up Bar*/
.preheader {
    color: #ff8400;
    min-width: none;
    align-items: center;
    display: flex;
    background-color: #2E493A;
    height: 25px;
    font-family: 'PT Serif', serif;
    font-size: 14px;
    color: #FFFBF1;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.close {
    position: absolute;
    right: 10px;
}

/*navigation*/

.navName {
    background-color: #FFFBF1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    height: 65px;
    width: 100%;
}

.navName a {
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    color: black;
    font-size: 38px;
}

.navBar {
    background-color: #FFFBF1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    height: 55px;
    width: 100%;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
    color: black;
}

.navLeft {
    padding-left: 40px;
}

.navMid {
    display: inherit;
    align-items: flex-start;
    width: auto;
    gap: 40px;
    padding-left: 250px;
    font-family: 'Trispace', sans-serif;
    font-size: 14px;
    color: black;
}

.navRight {
    display: flex;
    gap: 20px;
    padding-right: 40px;
}

.navRight a {
    font-family: 'Trispace', sans-serif;
    color: black;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

/*nav-left-dropdown*/
.shop-dropdown,
.special-dropdown,
.about-dropdown,
.support-dropdown {
    float: inline-end;
}

.support-row,
.shop-row,
.special-row,
.about-row {
    display: none;
    position: absolute;
    background-color: #FFFBF1;
    width: 100%;
    left: 0;
    padding-top: 20px;
    z-index: 1;
}

.support-content,
.shop-content,
.special-content,
.about-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.shop-column,
.special-column,
.about-column,
.support-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shop-column a,
.special-column a,
.about-column a,
.support-column a {
    float: none;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color: #8f744c;
    font-size: 14px;
    padding-bottom: 10px;
}

/*user-dropdown*/
.user-dropdown {
    float: right;
    overflow: hidden;
}

.user-content {
    display: none;
    position: absolute;
    background-color: #FFFBF1;
    width: 280px;
    right: 0;
    z-index: 1;
}

.user-content form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 200px;
    margin-left: 40px;
    margin-top: 20px;
    gap: 5px;
}

.user-content input::placeholder {
    font-family: 'Roboto', sans-serif;
    color: #2E493A;
    font: 14px;
}

.user-content input[type=text] {
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    color: #2E493A;
}

.user-content input[type=password] {
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    margin-bottom: 10px;
}

.user-content input[type=submit] {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 3px;
    background-color: #2E493A;
    color: #FFFBF1;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    cursor: pointer;
}

.user-term {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin-left: 40px;
    margin-right: 40px;
}

.user-term-a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.user-term-a a{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #2E493A;
}

/*dropdown-hover*/

.shop-dropdown:hover .shop-row,
.special-dropdown:hover .special-row,
.about-dropdown:hover .about-row,
.support-dropdown:hover .support-row,
.search-dropdown:hover .search-content,
.user-dropdown:hover .user-content {
    display: block;
}

label:hover,
.shop-dropdown:hover,
.special-dropdown:hover,
.about-dropdown:hover,
.support-dropdown:hover,
.user-dropdown:hover,
.search-dropdown:hover,
.navRight a:hover {
    text-decoration: underline 1px;
}

.shop-column:hover,
.special-column:hover,
.about-column:hover,
.support-column:hover {
    text-decoration: underline 1px;
    font-weight: bold;
}

/*search bar and search icon*/
.searchIcon {
    position: relative;
}

.search-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .3s ease;
}

.searchIcon:hover .search-hover,
.search-dropdown:hover .search-hover {
    opacity: 1;
}

.search-content {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    padding: 5% 0;
    background-color: #FFFBF1
}

.search-bar {
    background-color: #2E493A;
    opacity: 0.3;
    border-radius: 40px;
    padding: 0;
    width: 80%;
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar input {
    background-color: transparent;
    width: 90%;
    border: 0;
    outline: none;
    padding: 20px 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: white;
}

::placeholder {
    font-family: 'Roboto', sans-serif;
    color: #FFFBF1;
}

.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #FFFBF1;
    opacity: 0.7;
    cursor: pointer;
}

/* navgation bar:home/shop/candles...*/
.nav-title {
    background-color: #FFFBF1;
    border-top: 1px solid #e6e3de;
    border-bottom: 1px solid #e6e3de;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-title a:first-child {
    font-family: 'Trispace', sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: #2E493A;
    width: 50px;
    border-right: 1px solid #e6e3de;
    padding-left: 40px;
    padding-right: 10px;
}

.nav-title a:last-child {
    font-family: 'Trispace', sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: #2E493A;
    width: 50px;
    padding-left: 10px;
    border-right: 0;
}

.nav-title a:hover {
    text-decoration: underline #8f744c;
}

/* Main body content */

/* Animations */

/* Spider aimation*/
@keyframes uptoDown {
    0% {
        top: 0%;
    }

    5% {
        top: 0%;
    }

    10% {
        top: 0%;
    }

    40% {
        top: 40%;
    }

    60% {
        top: 60%;
    }

    65% {
        top: 65%;
    }

    70% {
        top: -30%;
    }

}

.movingSpider {

    top: 2%;
    left: 10%;
    width: 80px;
    height: 80px;
    background-color: aqua;
    position: absolute;
    animation-name: uptoDown;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

/* PumpkinAnimation */

@keyframes flicker {
    0% {
        background-color: yellow;
    }

    33% {
        background-color: orange;
    }

    66% {
        background-color: red;
    }

    99% {
        background-color: orange;
    }
}


.pumpkinLights {

    bottom: -36%;
    left: 10%;
    width: 250px;
    height: 130px;
    position: absolute;
    background-color: yellow;
    animation-name: flicker;
    animation-duration: 7s;
    animation-iteration-count: infinite;

}

@keyframes fly-in{
    0% {
        right: -15%;
        top: 70%;
    } 
    20% {
        right: 10%;
        top: 50%;
    }
    40% {
        right: 20%;
        top: 40%;
    }
    50% {
        right: 13%;
        top: 35%; 
    }
    70% {
        right: 30%;
        top: 30%;
    }
}


.movingBats {
    top: 60%;
    right: -15%;
    width: 130px;
    height: 80px;
    position: absolute;
    background-color: yellow;
    animation-name: fly-in;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

/** End of Animations List */

.main-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

hr {
    margin-top: 50px;
    width: 1000px;
    height: 1px;
    border-radius: 10px;
    background: #ffffff;
    opacity: 0.5;
}

/** Text inside big picture **/
.promotion-big-picture img{
    width: 100%;
    height: auto;
}
.halloween-collection-description {
    font-family: 'PT Serif', serif;
    color: rgb(255, 255, 255);
    position: absolute;
    right: 55%;
    top: 30%;
    padding: 2% 2%;
    background-color: rgba(122, 71, 50, 0.9);
    background-origin: padding-box;
    width: 20%;
    height: 34%;
}


/*content start here*/
.limited-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    justify-content: center;
    padding-left: 14%;
    padding-bottom: 50px;
}
/* content titles and buttons on top of each section */
.topBar{
    width: 68%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15%;
}

.topTitle {
    font-family: 'Trispace', sans-serif;
    font-size: 32px;
    float: left;
    padding-left: 37px;
}


/*limited product content*/
.limited-link img{
    width:100%;
    max-width:400px;
    max-height: 160px;
}

.limited-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 50px;
    padding-left: 15%;
}
.limited {
    display: inherit;
    flex-wrap: wrap;
    gap: 25px;
}

.limited-column {
    display: flex;
    width: 20%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.limited-price {
    display: flex;
    gap: 5px;
}


.limited-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'PT Serif', serif;
    font-size: 14px;
    gap: 10px;
}
.limited-column a{
    text-decoration: none;
}
.limited-link {
    display: inherit;
    flex-direction: column;
    gap: 10px;
}

.limited-price {
    display: flex;
    gap: 5px;
}
.limited-label,
.limited-price {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: #2E493A;
}

.limited-label {
    font-weight: bold;
}

.limited-column:hover .soap-label,
.limited-label:hover {
    text-decoration: underline;
}
.limited-column:hover .limited-link img,
.limited-link img:hoverr{
box-shadow:0 5px 5px #8f744c;
}

.limited-column button {
    width: 100px;
    height: 25px;
    border: 1px solid #2E493A;
    background-color: #673280;
}


/* Footer */
.site-footer {
    background-color: rgb(46, 73, 58);
    padding: 45px 0 5px;
    font-family: 'PT Serif', serif;
    font-size: 16px;
    color: #ff8400;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    margin-left: 0;
    margin-bottom: 5%;
}

.footer-links {
    padding-left: 0;
    list-style: none;
}

.li,
a {
    color: #ff8400;
    text-decoration: none;
}

.footer-links li {
    display: block
}

.footer-subscribe {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-subscribe form {
    display: flex;
    flex-direction: column;
    opacity: 0.8;
}

.footer-subscribe input::placeholder {
    font-family: 'PT Serif', serif;
    color: #2E493A;
    font: 14px;
}

.footer-subscribe input[type=text] {
    font-family: 'PT Serif', serif;
    padding: 5px;
    color: #2E493A;
    border: none;
    border-bottom: 1px solid #2E493A;
}

.footer-subscribe input[type=submit] {
    width: 35%;
    height: 30px;
    border: none;
    background-color: #2E493A;
    color: #FFFBF1;
    border: 1px solid #e6e3de;
    margin-top: 10px;
    font-family: 'PT Serif', serif;
    font-size: 14px;
    cursor: pointer;
}

.footer-subscribe input[type=submit]:hover {
    background-color: #d8862e;
}

.subscribe-desc {
    font-size: 12px;
    opacity: 0.5;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover,
.footer-location a:hover,
.footer-logo i:hover {
    color: #8f744c;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.footer-hr {
    width: 100%;
}

.row {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-left: 0;

}

.footer-logo {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.footer-location address {
    opacity: 0.8;
    font-size: 13px;
}


