@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300&family=Trispace:wght@500&display=swap');

html,
body {
    width: 100%;
    margin: 0;
}

img {
    object-fit: cover;
}
/*Sign Up Bar*/
.preheader {
    min-width: none;
    align-items: center;
    display: flex;
    background-color: #2E493A;
    height: 25px;
    font-family: 'PT Serif', serif;
    font-size: 14px;
    color: #FFFBF1;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.close {
    position: absolute;
    right: 10px;
}
/*navigation*/

.navName {
    background-color: #FFFBF1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    height: 65px;
    width: 100%;
}

.navName a {
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    color: black;
    font-size: 38px;
}

.navBar {
    background-color: #FFFBF1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    height: 55px;
    width: 100%;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
    color: black;
}

.navLeft {
    padding-left: 40px;
}

.navMid {
    display: inherit;
    align-items: flex-start;
    width: auto;
    gap: 40px;
    padding-left: 250px;
    font-family: 'Trispace', sans-serif;
    font-size: 14px;
    color: black;
}

.navRight {
    display: flex;
    gap: 20px;
    padding-right: 40px;
}

.navRight a {
    font-family: 'Trispace', sans-serif;
    color: black;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

/*nav-left-dropdown*/
.shop-dropdown,
.special-dropdown,
.about-dropdown,
.support-dropdown {
    float: inline-end;
}

.support-row,
.shop-row,
.special-row,
.about-row {
    display: none;
    position: absolute;
    background-color: #FFFBF1;
    width: 100%;
    left: 0;
    padding-top: 20px;
    z-index: 1;
}

.support-content,
.shop-content,
.special-content,
.about-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.shop-column,
.special-column,
.about-column,
.support-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shop-column a,
.special-column a,
.about-column a,
.support-column a {
    float: none;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color: #8f744c;
    font-size: 14px;
    padding-bottom: 10px;
}

/*user-dropdown*/
.user-dropdown {
    float: right;
    overflow: hidden;
}

.user-content {
    display: none;
    position: absolute;
    background-color: #FFFBF1;
    width: 280px;
    right: 0;
    z-index: 1;
}

.user-content form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 200px;
    margin-left: 40px;
    margin-top: 20px;
    gap: 5px;
}

.user-content input::placeholder {
    font-family: 'Roboto', sans-serif;
    color: #2E493A;
    font: 14px;
}

.user-content input[type=text] {
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    color: #2E493A;
}

.user-content input[type=password] {
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    margin-bottom: 10px;
}

.user-content input[type=submit] {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 3px;
    background-color: #2E493A;
    color: #FFFBF1;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    cursor: pointer;
}

.user-term {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin-left: 40px;
    margin-right: 40px;
}

.user-term-a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.user-term-a a{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #2E493A;
}

/*dropdown-hover*/

.shop-dropdown:hover .shop-row,
.special-dropdown:hover .special-row,
.about-dropdown:hover .about-row,
.support-dropdown:hover .support-row,
.search-dropdown:hover .search-content,
.user-dropdown:hover .user-content {
    display: block;
}

label:hover,
.shop-dropdown:hover,
.special-dropdown:hover,
.about-dropdown:hover,
.support-dropdown:hover,
.user-dropdown:hover,
.search-dropdown:hover,
.navRight a:hover {
    text-decoration: underline 1px;
}

.shop-column:hover,
.special-column:hover,
.about-column:hover,
.support-column:hover {
    text-decoration: underline 1px;
    font-weight: bold;
}

/*search bar and search icon*/
.searchIcon {
    position: relative;
}

.search-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .3s ease;
}

.searchIcon:hover .search-hover,
.search-dropdown:hover .search-hover {
    opacity: 1;
}

.search-content {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    padding: 5% 0;
    background-color: #FFFBF1
}

.search-bar {
    background-color: #2E493A;
    opacity: 0.3;
    border-radius: 40px;
    padding: 0;
    width: 80%;
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar input {
    background-color: transparent;
    width: 90%;
    border: 0;
    outline: none;
    padding: 20px 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: white;
}

::placeholder {
    font-family: 'Roboto', sans-serif;
    color: #FFFBF1;
}

.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #FFFBF1;
    opacity: 0.7;
    cursor: pointer;
}

/* navgation bar:home/shop/candles...*/
.nav-title {
    background-color: #FFFBF1;
    border-top: 1px solid #e6e3de;
    border-bottom: 1px solid #e6e3de;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-title a:first-child {
    font-family: 'Trispace', sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: #2E493A;
    width: 50px;
    border-right: 1px solid #e6e3de;
    padding-left: 40px;
    padding-right: 10px;
}

.nav-title a:last-child {
    font-family: 'Trispace', sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: #2E493A;
    width: 50px;
    padding-left: 10px;
    border-right: 0;
}

.nav-title a:hover {
    text-decoration: underline #8f744c;
}

/* body content starts here*/
.content {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-left: 20%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content img {
    width: 100%;
    border-radius: 20px;
}

hr {
    width: 50%px;
    height: 1px;
    border-radius: 10px;
    background: #e6e3de;
    opacity: 0.5;
}

/* content titles and buttons on top of each section */
.topBar-promotion {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
}

.topBar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
    padding-top: 50px;
}

.topBar-promotion button,
.topBar button {
    background-color: #2E493A;
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    float: right
}

.topBar-promotion button a,
.topBar button a {
    text-decoration: none;
    color: #FFFBF1;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.topTitle {
    font-family: 'Trispace', sans-serif;
    font-size: 32px;
    float: left;
}

.topBar-promotion button a:hover,
.topBar button:hover {
    text-decoration: underline;
}

.topBar-promotion button:hover,
.topBar button:hover {
    background-color: #8f744c;
}


/*button*/
.promotion-ad button,
.candle-column button,
.soap-column button {
    width: 100px;
    height: 25px;
    border: 1px solid #2E493A;
    background-color: #fbf9f5;
}

.promotion-ad button a,
.candle-column button a,
.soap-column button a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #2E493A;
}

.promotion-ad button:hover,
.candle-column button:hover,
.soap-column button:hover {
    background-color: #2E493A;
    color: #FFFBF1;
}

.promotion-ad button a:hover,
.candle-column button a:hover,
.candle-column button:hover>a,
.soap-column button a:hover,
.soap-column button:hover>a {
    color: #FFFBF1;
}

/*promotion*/
.sale-price {
    color: red;
}

.cross-price {
    text-decoration: line-through;
}

.promotion {
    position: relative;
}

.promotion-column1,
.promotion-column2,
.promotion-column3,
.promotion-column4 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 60px;
}

.promotion-ad a {
    text-decoration: none;
    font-family: 'Trispace', sans-serif;
    font-size: 26px;
    color: #2E493A;
}

.promotion-ad {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 15px;
}

.promotion-price {
    display: flex;
    gap: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.promotion-desc {
    width: 300px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.promotion-ad button a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.promotion {
    animation: 4s promotion-easeout infinite;
}

.promotion-column1 {
    visibility: hidden;
    animation: 16s promotion-autoplay infinite;
}

.promotion-column2,
.promotion-column3,
.promotion-column4 {
    visibility: hidden;
    position: absolute;
    top: 0;

    margin: 0;
    animation: 16s promotion-autoplay infinite;
}

@keyframes promotion-autoplay {
    0% {
        visibility: visible;
    }

    25% {
        visibility: hidden;
    }
}

.promotion-column1 {
    animation-delay: 0s;
}

.promotion-column2 {
    animation-delay: 4s;
}

.promotion-column3 {
    animation-delay: 8s;
}

.promotion-column4 {
    animation-delay: 12s;
}

@keyframes promotion-easeout {
    0% {
        opacity: 0;
    }

    2.5% {
        opacity: 0.1;
    }

    5% {
        opacity: 0.2;
    }

    7.5% {
        opacity: 0.3;
    }

    10% {
        opacity: 0.4;
    }

    12.5% {
        opacity: 0.5;
    }

    15% {
        opacity: 0.6;
    }

    17.5% {
        opacity: 0.7;
    }

    20% {
        opacity: 0.8;
    }

    22.5% {
        opacity: 0.9;
    }

    25% {
        opacity: 1;
    }

    77.5% {
        opacity: 1;
    }

    80% {
        opacity: 0.9;
    }

    82.5% {
        opacity: 0.8;
    }

    85% {
        opacity: 0.7;
    }

    87.5% {
        opacity: 0.6;
    }

    90% {
        opacity: 0.5;
    }

    92.5% {
        opacity: 0.4;
    }

    95% {
        opacity: 0.3;
    }

    97.5% {
        opacity: 0.2;
    }

    100% {
        opacity: 0.1;
    }
}

/*best seller*/
.bestseller {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.bestseller-container {
    display: inherit;
    flex-direction: column;
}

.bestseller-column {
    display: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gallery-container {
    display: inherit;
    list-style-type: none;
    width: 100%;
    height: 400px;
    padding-right: 50px;
    padding-bottom: 50px;
    cursor: pointer;
}

.gallery-container li:hover {
    width: 250%;
    cursor: pointer;
}

.bestseller-price{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding-left: 10px;
    color: black;
}

.bestseller-label a {
    color: #2E493A;
    text-decoration: none;
    font-family: 'Trispace', sans-serif;
    font-size: 14px;
    padding-left: 10px;
}

.bestseller-label a:hover,
.gallery-container li:hover .bestseller-label a {
    font-size: 32px;
    transition: all 0.5s ease-in-out;
}

/*candles+soaps*/
.candle-link img,
.soap-link img {
    max-width: 400px;
    max-height: 250px;
}

.candle-container,
.soap-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 50px;
    padding-left: 10%;
}

.soap,
.candle {
    display: inherit;
    flex-wrap: wrap;
    gap: 25px;
}

.soap-column,
.candle-column {
    display: flex;
    width: 20%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.soap-price,
.candle-price {
    display: flex;
    gap: 5px;
}


.soap-column,
.candle-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    gap: 10px;
}

.soap-column a,
.candle-column a {
    text-decoration: none;
}

.soap-link,
.candle-link {
    display: inherit;
    flex-direction: column;
    gap: 10px;
}

.soap-price,
.candle-price {
    display: flex;
    gap: 5px;
}

.candle-label,
.candle-price,
.soap-label,
.soap-price {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: #2E493A;
}

.candle-label,
.soap-label {
    font-weight: bold;
}

.candle-column:hover .candle-label,
.soap-column:hover .soap-label,
.candle-label:hover,
.soap-label:hover {
    text-decoration: underline;
}

.soap-column:hover .soap-link img,
.soap-link img:hover,
.candle-column:hover .candle-link img,
.candle-link img:hover {
    box-shadow: 0 5px 5px #8f744c;
}

/*footer*/


.site-footer {
    background-color: rgb(46, 73, 58);
    padding: 45px 0px 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: white;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    margin-bottom: 5%;
}

.footer-links {
    padding-left: 0;
    list-style: none;
}

.li,
a {
    color: white;
    text-decoration: none;
}

.footer-links li {
    display: block
}

.footer-subscribe {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-subscribe form {
    display: flex;
    flex-direction: column;
    opacity: 0.8;
}

.footer-subscribe input::placeholder {
    font-family: 'Roboto', sans-serif;
    color: #2E493A;
    font: 14px;
}

.footer-subscribe input[type=text] {
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    color: #2E493A;
    border: none;
    border-bottom: 1px solid #2E493A;
}

.footer-subscribe input[type=submit] {
    width: 35%;
    height: 30px;
    border: none;
    background-color: #2E493A;
    color: #FFFBF1;
    border: 1px solid #e6e3de;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    cursor: pointer;
}

.footer-subscribe input[type=submit]:hover {
    background-color: #8f744c;
}

.subscribe-desc {
    font-size: 12px;
    opacity: 0.5;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover,
.footer-location a:hover,
.footer-logo i:hover {
    color: #8f744c;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}


.row {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-left: 5%;

}

.footer-logo {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.footer-location address {
    opacity: 0.8;
    font-size: 13px;
}