@import url('https://fonts.googleapis.com/css2?family=Overlock:ital,wght@1,700;1,900&family=PT+Serif:ital@0;1&display=swap');

html,
body {
    width: 100%;
    margin: 0 10px 10px 0;
    scroll-padding-top: 210px;
}

/*Sign Up Bar*/
.preheader {
    align-items: center;
    display: flex;
    background-color: #2E493A;
    height: 25px;
    font-family: 'PT Serif', serif;
    font-size: 14px;
    color: #FFFBF1;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.close {
    position: absolute;
    right: 10px;
}

/*navigation*/
.navBar {
    background-color: #FFFBF1;
    align-items: center;
    display: flex;
    height: 100px;
    width: 100%;
    top: 0;
    position: sticky;
    z-index: 1;
    color: black;
}

.navLeft {
    flex: 1;
    width: auto;
    display: flex;
    width: auto;
    gap: 20px;
    margin: 40px;
    padding-top: 40px;
    font-family: 'PT Serif', serif;
    font-size: 14px;
    color: black;
}

.navMid {
    flex: 1;
    width: auto;
    display: flex;
    align-items: center;
}

.navMid a {
    flex: 1;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    font-family: 'Overlock', cursive;
    color: black;
    font-size: 34px;
}


.navRight {
    display: flex;
    width: auto;
    align-items: flex-end;
    gap: 20px;
    margin: 40px;
    padding-top: 30px;
}

.navRight a {
    font-family: 'PT Serif', serif;
    color: black;
    font-size: 14px;
    text-decoration: none;
}


.shop-dropdown,
.special-dropdown,
.about-dropdown,
.support-dropdown {
    float: left;
    overflow: hidden;

}

.user-dropdown {
    float: right;
    overflow: hidden;
}

.shop-content,
.special-content,
.about-content,
.support-content {
    display: none;
    position: absolute;
    background-color: #FFFBF1;
    width: 100%;
    left: 0;
    z-index: 1;

}

.user-content {
    display: none;
    position: absolute;
    background-color: #FFFBF1;
    width: 280px;
    right: 0;
    z-index: 1;
}

/*user login form*/

.user-content form {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-left: 40px;
    margin-top: 20px;
    gap: 5px;
}

.user-content input::placeholder {
    font-family: 'PT Serif', serif;
    color: #2E493A;
    font: 14px;
}

.user-content input[type=text] {
    font-family: 'PT Serif', serif;
    padding: 5px;
    color: #2E493A;
}

.user-content input[type=password] {
    font-family: 'PT Serif', serif;
    padding: 5px;
    margin-bottom: 10px;
}

.user-content input[type=submit] {
    width: 100%;
    height: 20px;
    border: none;
    border-radius: 3px;
    background-color: #2E493A;
    color: #FFFBF1;
    margin-bottom: 10px;
    font-family: 'PT Serif', serif;
    font-size: 14px;
    cursor: pointer;
}

.user-term {
    font-family: 'PT Serif', serif;
    font-size: 12px;
    margin-left: 40px;
    margin-right: 40px;
}

/**/
.shop-column,
.special-column,
.about-column,
.support-column {
    float: left;
    padding-left: 30px;
    margin: 30px 10px 10px 10px;
    border-radius: 15px;
    cursor: pointer;
}

.shop-column a,
.special-column a,
.about-column a,
.support-column a {
    float: none;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: 'PT Serif', serif;
    color: #8f744c;
    font-size: 14px;
    padding-bottom: 10px;
}

.shop-dropdown:hover .shop-content,
.special-dropdown:hover .special-content,
.about-dropdown:hover .about-content,
.support-dropdown:hover .support-content,
.search-dropdown:hover .search-content,
.user-dropdown:hover .user-content {
    display: block;
}

label:hover,
.shop-dropdown:hover,
.special-dropdown:hover,
.about-dropdown:hover,
.support-dropdown:hover,
.user-dropdown:hover,
.navRight a:hover {
    text-decoration: underline 1px;
}

.shop-column:hover,
.special-column:hover,
.about-column:hover,
.support-column:hover {
    text-decoration: underline 1px;
    font-weight: bold;
}

/*search bar and search icon*/
.searchIcon {
    position: relative;
}

.search-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .3s ease;
}

.searchIcon:hover .search-hover,
.search-dropdown:hover .search-hover {
    opacity: 1;
}

.search-content {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    padding: 5% 0;
    background-color: #FFFBF1
}

.search-bar {
    background-color: #2E493A;
    opacity: 0.3;
    border-radius: 40px;
    padding: 0;
    width: 80%;
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar input {
    background-color: transparent;
    width: 90%;
    border: 0;
    outline: none;
    padding: 20px 10px;
    font-family: 'PT Serif', serif;
    font-size: 16px;
    color: white;
}

::placeholder {
    font-family: 'PT Serif', serif;
    color: #FFFBF1;
}

.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #FFFBF1;
    opacity: 0.7;
    cursor: pointer;
}

/* nav title*/
.nav-title {
    display: inline-flex;
    width: 100%;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 20px;
    background-color: #FFFBF1;
    border: 1px solid #e6e3de;
}

.nav-title nav {
    margin-left: 50px;
}

.nav-title a {
    font-family: 'PT Serif', serif;
    font-size: 13px;
    text-decoration: none;
    color: #2E493A;
    width: 50px;
    border-right: 1px solid #e6e3de;
}

.nav-title a:last-child {
    border-right: 0;
}

.nav-title a:hover {
    text-decoration: underline #8f744c;
}

/* body content starts here*/
.content {
    position: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}

.content img {
    border-radius: 20px;
}

hr {
    width: 1000px;
    height: 1px;
    border-radius: 10px;
    background: #e6e3de;
    opacity: 0.5;
}

/* content titles and buttons on top of each section */
.topBar-promotion {
    position: inherit;
    padding-bottom: 50px;
}

.topBar {
    position: inherit;
    padding-bottom: 50px;
    padding-top: 50px;
}

.topBar-promotion button,
.topBar button {
    background-color: #2E493A;
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    float: right
}

.topBar-promotion button a,
.topBar button a {
    text-decoration: none;
    color: #FFFBF1;
    font-family: 'PT Serif', serif;
    font-size: 14px;
}

.topTitle {
    font-family: 'PT Serif', serif;
    font-size: 32px;
    float: left;
}

.topBar-promotion button a:hover,
.topBar button a:hover {
    text-decoration: underline;
}

/*button*/
.promotion-ad button,
.candle-column button,
.soap-column button {
    width: 100px;
    height: 25px;
    border: 1px solid #2E493A;
    background-color: #fbf9f5;
}

.promotion-ad button a,
.candle-column button a,
.soap-column button a {
    font-family: 'PT Serif', serif;
    font-size: 14px;
    color: #2E493A;
}

.promotion-ad button:hover,
.candle-column button:hover,
.soap-column button:hover {
    background-color: #2E493A;
    color: #FFFBF1;
}

.promotion-ad button a:hover,
.candle-column button a:hover,
.candle-column button:hover>a,
.soap-column button a:hover,
.soap-column button:hover>a {
    color: #FFFBF1;
}

/*promotion*/
.sale-price {
    color: red;
}

.cross-price {
    text-decoration: line-through;
}

.promotion {
    position: relative;
}

.promotion-column1,
.promotion-column2,
.promotion-column3,
.promotion-column4 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 60px;
}

.promotion-ad a {
    text-decoration: none;
    font-family: 'PT Serif', serif;
    font-size: 26px;
    color: #2E493A;
}

.promotion-ad {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 15px;
}

.promotion-price {
    display: flex;
    gap: 5px;
    font-family: 'PT Serif', serif;
    font-size: 14px;
}

.promotion-desc {
    width: 300px;
    font-family: 'PT Serif', serif;
    font-size: 14px;
}

.promotion-ad button a {
    font-family: 'PT Serif', serif;
    font-size: 14px;
}

.promotion {
    animation: 4s promotion-easeout infinite;
}

.promotion-column1 {
    visibility: hidden;
    animation: 16s promotion-autoplay infinite;
}

.promotion-column2,
.promotion-column3,
.promotion-column4 {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    animation: 16s promotion-autoplay infinite;
}

@keyframes promotion-autoplay {
    0% {
        visibility: visible;
    }

    25% {
        visibility: hidden;
    }
}

.promotion-column1 {
    animation-delay: 0s;
}

.promotion-column2 {
    animation-delay: 4s;
}

.promotion-column3 {
    animation-delay: 8s;
}

.promotion-column4 {
    animation-delay: 12s;
}

@keyframes promotion-easeout {
    0% {
        opacity: 0;
    }

    2.5% {
        opacity: 0.1;
    }

    5% {
        opacity: 0.2;
    }

    7.5% {
        opacity: 0.3;
    }

    10% {
        opacity: 0.4;
    }

    12.5% {
        opacity: 0.5;
    }

    15% {
        opacity: 0.6;
    }

    17.5% {
        opacity: 0.7;
    }

    20% {
        opacity: 0.8;
    }

    22.5% {
        opacity: 0.9;
    }

    25% {
        opacity: 1;
    }

    77.5% {
        opacity: 1;
    }

    80% {
        opacity: 0.9;
    }

    82.5% {
        opacity: 0.8;
    }

    85% {
        opacity: 0.7;
    }

    87.5% {
        opacity: 0.6;
    }

    90% {
        opacity: 0.5;
    }

    92.5% {
        opacity: 0.4;
    }

    95% {
        opacity: 0.3;
    }

    97.5% {
        opacity: 0.2;
    }

    100% {
        opacity: 0.1;
    }
}

/*best seller*/
.bestseller {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.bestseller-container,
.candle-container,
.soap-container {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.bestseller-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.bestseller-gallery {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery-container {
    display: block;
    width: 600px;
    height: 380px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    overflow: hidden;
}

.nav-bestseller {
    display: flex;
    gap: 30px;
}

.nav-bestseller a {
    display: flex;
    margin-top: 10px;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: #2E493A;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    opacity: 0.2;
}

.nav-bestseller a:hover {
    opacity: 1;

}

.bestseller-label,
.bestseller-price,
.candle-label,
.candle-price,
.soap-label,
.soap-price {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'PT Serif', serif;
    color: #2E493A;
}

.candle-label,
.soap-label {
    font-weight: bold;
}

.bestseller-container a {
    text-decoration: none;
}

.bestseller-label:hover,
.candle-label:hover .soap-label:hover {
    text-decoration: underline;
}

.bestseller-column img {
    opacity: 0.5;
}

.bestseller-column img:hover,
.candle-column img:hover,
.soap-column img:hover {
    box-shadow: 5px 5px 5px gray;
    opacity: 1;
}

.candle-container a,
.soap-container a {
    text-decoration: none;
}

.soap,
.candle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.soap-column,
.candle-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.soap-link,
.candle-link {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.soap-price,
.candle-price {
    display: flex;
    gap: 5px;
}

/*footer*/


.site-footer {
    background-color: rgb(46, 73, 58);
    padding: 45px 0 5px;
    font-family: 'PT Serif', serif;
    font-size: 16px;
    color: white;
}

.footer-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-left: 0;
    margin-bottom: 5%;
}

.footer-links {
    padding-left: 0;
    list-style: none;
}

.li,
a {
    color: white;
    text-decoration: none;
}

.footer-links li {
    display: block
}
.footer-subscribe{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.footer-subscribe form{
    display: flex;
    flex-direction: column;

    }

.footer-subscribe input::placeholder {
    font-family: 'PT Serif', serif;
    color: #2E493A;
    font: 14px;
}

.footer-subscribe input[type=text] {
    font-family: 'PT Serif', serif;
    padding: 5px;
    color: #2E493A;
    border: none;
    border-bottom: 1px solid #2E493A;
}

.footer-subscribe input[type=submit] {
    width: 35%;
    height: 30px;
    border: none;
    background-color: #2E493A;
    color: #FFFBF1;
    border:1px solid #e6e3de;
    margin-top: 10px;
    font-family: 'PT Serif', serif;
    font-size: 14px;
    cursor: pointer;
}

.footer-subscribe input[type=submit]:hover{
    background-color: #8f744c;
}
.subscribe-desc{
    font-size: 12px;
    opacity: 0.5;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.footer-hr {
    width: 100%;
}
.row{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-left: 0;
}
.footer-logo{
    margin-top: 10px;
    display: flex;
    gap: 10px;
}