@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300&family=Trispace:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
html,
body {
    width: 100%;
    margin:0;
    scroll-padding-top: 150px;
}
img{
    object-fit: cover;
}

/*Sign Up Bar*/
.preheader {
    min-width: none;
    align-items: center;
    display: flex;
    background-color: #2E493A;
    height: 25px;
    font-family: 'PT Serif', serif;
    font-size: 14px;
    color: #FFFBF1;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.close {
    position: absolute;
    right: 10px;
}

/*navigation*/

.navName {
    background-color: #FFFBF1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    height: 65px;
    width: 100%;
}

.navName a {
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    color: black;
    font-size: 38px;
}

.navBar {
    background-color: #FFFBF1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    height: 55px;
    width: 100%;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
    color: black;
}

.navLeft {
    padding-left: 40px;
}

.navMid {
    display: inherit;
    align-items: flex-start;
    width: auto;
    gap: 40px;
    padding-left: 250px;
    font-family: 'Trispace', sans-serif;
    font-size: 14px;
    color: black;
}

.navRight {
    display: flex;
    gap: 20px;
    padding-right: 40px;
}

.navRight a {
    font-family: 'Trispace', sans-serif;
    color: black;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

/*nav-left-dropdown*/
.shop-dropdown,
.special-dropdown,
.about-dropdown,
.support-dropdown {
    float: inline-end;
}

.support-row,
.shop-row,
.special-row,
.about-row {
    display: none;
    position: absolute;
    background-color: #FFFBF1;
    width: 100%;
    left: 0;
    padding-top: 20px;
    z-index: 1;
}

.support-content,
.shop-content,
.special-content,
.about-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.shop-column,
.special-column,
.about-column,
.support-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shop-column a,
.special-column a,
.about-column a,
.support-column a {
    float: none;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color: #8f744c;
    font-size: 14px;
    padding-bottom: 10px;
}

/*user-dropdown*/
.user-dropdown {
    float: right;
    overflow: hidden;
}

.user-content {
    display: none;
    position: absolute;
    background-color: #FFFBF1;
    width: 280px;
    right: 0;
    z-index: 1;
}

.user-content form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 200px;
    margin-left: 40px;
    margin-top: 20px;
    gap: 5px;
}

.user-content input::placeholder {
    font-family: 'Roboto', sans-serif;
    color: #2E493A;
    font: 14px;
}

.user-content input[type=text] {
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    color: #2E493A;
}

.user-content input[type=password] {
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    margin-bottom: 10px;
}

.user-content input[type=submit] {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 3px;
    background-color: #2E493A;
    color: #FFFBF1;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    cursor: pointer;
}

.user-term {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin-left: 40px;
    margin-right: 40px;
}

.user-term-a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.user-term-a a{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #2E493A;
}

/*dropdown-hover*/

.shop-dropdown:hover .shop-row,
.special-dropdown:hover .special-row,
.about-dropdown:hover .about-row,
.support-dropdown:hover .support-row,
.search-dropdown:hover .search-content,
.user-dropdown:hover .user-content {
    display: block;
}

label:hover,
.shop-dropdown:hover,
.special-dropdown:hover,
.about-dropdown:hover,
.support-dropdown:hover,
.user-dropdown:hover,
.search-dropdown:hover,
.navRight a:hover {
    text-decoration: underline 1px;
}

.shop-column:hover,
.special-column:hover,
.about-column:hover,
.support-column:hover {
    text-decoration: underline 1px;
    font-weight: bold;
}

/*search bar and search icon*/
.searchIcon {
    position: relative;
}

.search-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .3s ease;
}

.searchIcon:hover .search-hover,
.search-dropdown:hover .search-hover {
    opacity: 1;
}

.search-content {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    padding: 5% 0;
    background-color: #FFFBF1
}

.search-bar {
    background-color: #2E493A;
    opacity: 0.3;
    border-radius: 40px;
    padding: 0;
    width: 80%;
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar input {
    background-color: transparent;
    width: 90%;
    border: 0;
    outline: none;
    padding: 20px 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: white;
}

::placeholder {
    font-family: 'Roboto', sans-serif;
    color: #FFFBF1;
}

.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #FFFBF1;
    opacity: 0.7;
    cursor: pointer;
}


.homeMain{
    height: 800px;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(MainImg/roseapo.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.mainTextBox{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 65%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.mainTextBox p{
    font-family: 'Roboto', sans-serif;
    margin: 10px 0 40px;
    font-size: 16px;
    color: white;
}

.mainTextBox h1{
    font-family: 'Trispace', sans-serif;
    font-size: 38px;
    color: white;
}

.moreInfoBtn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1.8px solid #fff;
    border-radius: 8px;
    padding: 12px 34px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background: transparent;
    position: relative;
}

.moreInfoBtn:hover{
    border: 1px solid olive;
    background: darkgray;
    transition: 1s;
}

.threeProductCategory{
    width: 90%;
    display: flex;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 80px;
    gap: 35px;
}

.three-col{
    flex-basis: 40%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    font-family: 'Trispace', sans-serif; 
}

.threeProductCategory img{
    width: 100%;
    height: 100%;
}

.colImage{
    background: transparent;
    color: white;
    font-size: 20px;
    font-style: light;
    height:100%;
    width: 100%;
    position: absolute;
    top: 0;
    left:0;
    padding-top: 55%;
}

.colImage:hover{
    background:rgb(46, 73, 58, 0.5);
    transition: 0.5s;
}

h2{
    font-family: 'Trispace', sans-serif; 
    margin-left: 82px;
}

h3, h4{
    font-family: 'Trispace', sans-serif; 
}

.main-gallery-container{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 30px 85px;
    font-family: 'Roboto', sans-serif;
    font-style: light;
}

.main-gallery{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: block;
    width: 550px;
    height: 360px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    overflow: hidden;
    border-radius: 5px;
}

.main-buttons{
    display: flex;
    gap: 30px;
}

.main-buttons a {
    display: flex;
    margin-top: 10px;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: #2E493A;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    opacity: 0.2;
}


.main-buttons a:hover {
    opacity: 1;

}

.halloweenBtn{display: inline-block;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    padding: 14px 34px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background: #2E493A;
}

.trendingImages{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 80px;
    padding-left: 2%;
    gap: 30px;
}


.imgGroup{
    height: 290px;
    width: 290px;
    border-radius: 13px;
}

/*footer*/


.site-footer {
    background-color: rgb(46, 73, 58);
    padding: 45px 0 5px;
    font-family: 'PT Serif', serif;
    font-size: 16px;
    color: white;
}

.footer-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    margin-left: 0;
    margin-bottom: 5%;
}

.footer-links {
    padding-left: 0;
    list-style: none;
}

.li,
a {
    color: white;
    text-decoration: none;
}

.footer-links li {
    display: block
}
.footer-subscribe{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.footer-subscribe form{
    display: flex;
    flex-direction: column;
    opacity: 0.8;
    }

.footer-subscribe input::placeholder {
    font-family: 'PT Serif', serif;
    color: #2E493A;
    font: 14px;
}

.footer-subscribe input[type=text] {
    font-family: 'PT Serif', serif;
    padding: 5px;
    color: #2E493A;
    border: none;
    border-bottom: 1px solid #2E493A;
}

.footer-subscribe input[type=submit] {
    width: 35%;
    height: 30px;
    border: none;
    background-color: #2E493A;
    color: #FFFBF1;
    border:1px solid #e6e3de;
    margin-top: 10px;
    font-family: 'PT Serif', serif;
    font-size: 14px;
    cursor: pointer;
}

.footer-subscribe input[type=submit]:hover{
    background-color: #8f744c;
}
.subscribe-desc{
    font-size: 12px;
    opacity: 0.5;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover,
.footer-location a:hover,
.footer-logo i:hover {
    color: #8f744c;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.row{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-left: 0;

}
.footer-logo{
    margin-top: 10px;
    display: flex;
    gap: 10px;
    cursor: pointer;
}
.footer-location address{
    opacity: 0.8;
    font-size: 13px;
}
